.container {
  max-width: 960px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: lightslategray
} 
.container2 {
  max-width: 960px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: lightgreen;
}

